/*Google logo*/

.GoogleLogo {
	padding-top: 5em;
	display: block;
	text-align: center;
	clear: both;
	/*border:solid;*/
}


/*Search bar */
#searchDiv {
	padding-top: 10px;
	display:block;
	margin: auto;
}

form input {
	height: 30px;
}

#textInput {
	position: relative;
	width: 30%;
}

/*buttons below search bar*/

.SearchButtons {
	display: block;
	padding-top: 20px;
}

.SearchButtons button {
	margin-left: 25px;
	margin-right: 25px;
	width: 125px;
	height: 45px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #707070;
	background-color: rgb(255,255,255);
	border: none;
}

.SearchButtons button:hover {
	border: solid;
	border-radius: 0.25em;
}

.SearchButtons button:active {
	border-color: #66CCFF;
}

/*Make placeholder text disappear when clicked on
and when text it present. Credit goes to CSSTricks for this one!*/
[placeholder]:focus::-webkit-input-placeholder {
	color: transparent;
}



/* Top menu found on Googe homepage*/

#topNav ul {
	float: right;
	font-size: 14px;
}

#topNav li {
	position: relative;
	/*border: dotted;*/
	font-family: Arial;
	font-size: 12px;
	color: #484848;
	padding-right: 5px;
	display: inline;
}

#topNav a:link {
	color: #484848;
	text-decoration: none;
}

#topNav a:visited {
	color: #484848;
}

#topNav a:hover {
	text-decoration: underline;
}

#topNav a:active{
	text-decoration: underline;
}

#appIcon {
	width: 10%;
	height: 10%;
}

/* Bottom links*/

.bottomLeft{
	position: absolute;
	float:left;
	bottom:0;
	left:0;
}

.bottomLeft li{
	display: inline;
	font-family: Arial;
	font-size: 12px;
	color: #484848;
	padding-left: 25px;
	margin-left: 5px;

}

.bottomLeft a:link {
	text-decoration: none;
}

.bottomLeft li a:visited {
	color: #484848;
}

.bottomLeft li a:hover {
	text-decoration: underline;
}

.bottomRight{
	position: absolute;
	float:right;
	bottom:0;
	right:0;
}

.bottomRight li{
	display: inline;
	font-family: Arial;
	font-size: 12px;
	color: #484848;
	padding-right: 25px;
	margin-right: 5px;
}

.bottomRight a:link {
	text-decoration: none;
}

.bottomRight li a:visited {
	color: #484848;
}

.bottomRight li a:hover {
	text-decoration: underline;
}